<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Tüm hakları saklıdır. @DateTime.Now </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Yazar paneli <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">ASP.Net 5.0 Core Proje Kampı</a> from Bootstrapdash.com</span>
    </div>
</footer>
