@model EntityLayer.Concrete.Message2

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

 <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mesaj Detay Bilgileri Görüntüleme</h4>
                <br />
                <form class="form-group" method="get" enctype="multipart/form-data">

                    @Html.HiddenFor(x=>x.MessageId, new {@class="form-control"})                    
                        <div class="form-group">
                            <label for="exampleInputName1">Mesaj Başlığı</label>
                            @Html.TextBoxFor(x=>x.Subject, new {@class="form-control"})                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Mesaj İçeriği</label>
                            @Html.TextAreaFor(x=>x.MessageDetails,20,3, new {@class="form-control"})                            
                        </div>
                        
                        <button class="btn btn-gradient-primary mr-2">Mesajlara Geri Dön</button>                        
                </form>
            </div>
        </div>
    </div>



